/*Font Reservia*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

/* Parametres pour le body*/
body 
{
  font-family: 'Raleway';
  box-sizing: border-box;
  margin-left: 0;
  margin-right: 0;
  min-height: 100%;
}
/* Header */
.logo
{
margin: 25px;
flex: 1;
margin-left: auto;
}

/* Barre de navigation*/

ul
{
	list-style-type:none;	
}

li
{
	float:right;
	padding: 12px 30px;
}

.inscrire
{
	color: #0065FC;
	font-weight: bold;
}

a
{
	text-decoration:none;
	color: inherit;
}

nav li a:hover
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 34px;

}

nav li a
{
    padding-right: 15px;
    padding-left: 15px;
}

header
{
   justify-content: space-between;
   margin-bottom: 35px;
}

.flex
{
	display: flex;
    flex-wrap: wrap;
}

.title
{
	font-size: 25px;
}

/*Barre de recherche*/

.searchbar
{
    height: 50px;
}

.searchtext
{
	font-family: 'Raleway';
	font-weight: bold;
	font-size: 15px;
	border: 1px solid #f1f1f1;
}

.side-space
{
    margin-left: 40px;
    margin-right: 40px;
}

.buttonsearch
{
	width: 130px;
    background-color: #0065FC;
    border: none;
    padding: 0;
    border-radius: 0 15px 15px 0;
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
    flex-shrink: 0;
	display: block;
	font-family: 'Raleway';
}

.buttonsearch i
{
    display: none;
}

.stylebaricon
{
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    width: 50px;
    display: inline-block;
}

.stylebaricon i
{
    padding-top: 17px;
    padding-left: 20px;
}

::placeholder
{
    color: #050505;
}

/*Les filtres*/

.filters
{
    display: flex;
    margin-top: 10px;
	flex-wrap: wrap;
    font-weight: 700;
    font-size: 1.1rem;
}

.filters-text
{
	justify-content: center;
    flex-wrap: wrap;
}

h2
{
	font-size: 16px;
	font-weight: bold;
	margin-top: 20px;
}

.title-filters
{
    margin-top: 25px;
}

.filter
{
	align-items: center;
    height: 46px;
    border: 2px solid #e6e3e3;
    border-left: none;
    margin-left: 80px;
    padding-right: 20px;
    border-radius: 25px;
	flex-wrap: wrap;
}

.filter span{
    padding-left: 12px;
	padding-bottom: 5px;
    flex-wrap: wrap;
}

.filter:hover{
    cursor: pointer;
    border-color: #0065FC;
    color: #0065FC;
    flex-wrap: wrap;
}

.filter-icon
{
	position: relative;
    right: 1px;
    width: 50px;
	bottom: 2px;
    height: 50px;
    border-radius: 50%;
    background-color: #deebff;
    flex-wrap: wrap;
}

.filter-icon i
{
    padding-top: 17px;
    padding-left: 14px;
    color: #0065FC;
}

::placeholder
{
    padding-left: 20px;
    
}

/* Body/Main */


/*Hotels*/

.hotels, .popular{
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 40px;
}

.hotels {
    grid-column: 1 / 3;
}

.hotels-container
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}


.hotels > h2{
    margin: 0;
}

.hotels-structure{
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 30px;
    margin: 30px 0 50px;
}

.hotel-block{
    grid-column: 1/3;
    grid-row: 1;
    display: grid;
    height: 220px;
    grid-template-rows: 1fr 40%;
    box-sizing: border-box;
    border: 5px solid #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 7px #c1c1c1;
}

.hotel-block:hover
{
    transform: scale(1.2);
    transition: transform .2s;
}

.hotel-block img{
    width: 100%;
    height: 125px;
    object-fit: cover;
}

.hotel-description{
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    padding: 5px 10px;
}

.hotel-description p{
    margin: 0;
}

.hotel-rate{
    word-spacing: -1ch;
}

.fa-star{
    font-size: 0.8rem;
    letter-spacing: 2px;
}

.blue{
    color: #0065FC;
}

.grey{
    color: #f2f2f2;
}

.show-more{
    font-weight: 700;
    font-size: 1.2rem;
}

/*Les plus populaires*/

.popular{
    flex: 1;
    margin-left: 3%;
}

.popular-icon{
    justify-content: space-between;
    align-items: baseline;
}

.popular-icon h2{
    margin-top: 0;
    margin-bottom: 25px;
}

.popular-icon i{
    font-size: 1.5rem;
}

.popular-block{
    height: 145px;
    border: 5px solid #fff;
    border-radius: 15px;
    margin-bottom: 30px;
    grid-row: 1;
    box-shadow: 0 0 7px #c1c1c1;
    box-sizing: border-box;
    overflow: hidden;
}

.popular-block:hover
{
    transform: scale(1.1);
    transition: transform .2s;
}

.popular-block img{
    width: 40%;
    height: 100%;
    object-fit: cover;
}

.popular-description{
    flex: 1;
    background-color: #fff;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.hotel-name{
    margin: 0;
    font-weight: 700;
    font-size: 1.1rem;
}

.popular-description .hotel-name + p{
    margin-top: 8px;
    margin-bottom: 0;
}

/*Les activités*/

.activities-section {
    height: 550px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3fr 0.3fr 0.3fr 0.3fr 0.3fr 3fr;
    grid-gap: 30px;
    grid-template-areas: 
      "activity-1 activity-2 activity-4 activity-5"
      "activity-1 activity-2 activity-4 activity-5"
      "activity-1 activity-2 activity-4 activity-6"
      "activity-1 activity-2 activity-4 activity-6"
      "activity-1 activity-3 activity-4 activity-6"
      "activity-1 activity-3 activity-4 activity-6";
  }
  
  .activities-section .activities-block {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 1px 1px 10px #797b80;
  }
  
  .activities-block img {
    object-fit: cover;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  .activities-section .activities-description {
    position: absolute;
    width: 95%;
    background-color: white;
    border-radius: 0 0 20px 20px;
    padding: 20px 0 20px 5%;
    margin: 0;
    bottom: 0;
  }
  
  .englobe {
    height: 100%;
    margin: 0;
  }
  
  #activity-1 {
    grid-area: activity-1;
  }
  #activity-2 {
    grid-area: activity-2;  
  }
  #activity-3 {
    grid-area: activity-3;
  }
  #activity-4 {
    grid-area: activity-4;
  }
  #activity-5 {
    grid-area: activity-5;
  }
  #activity-6 {
    grid-area: activity-6;
  }
  
  .activities-section .activities-block:hover {
    transform: scale(1.1);
    transition: transform .2s;
  }

/* Le footer */

.footer {
    width: 100%;
    background: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-blocs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
  }
  
  .footer-bloc {
    padding: 30px;
    display: flex;
    flex-direction: column;
  }
  
  .footer-bloc > * {
    margin-bottom: 10px;
  }
  
  .footer-title {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .footer-title:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform .2s;
  }
  
  .footer-text:hover 
  {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform .2s;
  }

/*Version mobile*/

@media screen and (max-width: 600px)
{

    body
    {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }

    .phone-tab
    {
        margin: 0;
    }
   
    h2
    {
        font-size: 1.4rem;
    }
   
    header
    {
       flex-direction: column;
    }
   
    .logo
    {
        margin-left: 20px;
    }

    /*Barre de navigation mobile*/
    
    .inscrire
    {
       align-self: flex-end;
       padding: 0;
       margin-right: 20px;
       position: relative;
       bottom: 70px;
       border-bottom: none;
       text-align: right;
    }
   
    nav
    {
        order: 3;
        margin-left: -40px;
        margin-right: -40px;
    }
   
    nav ul
    {
        width: 100%;
        padding-left: 0;
    }
   
    nav li{
       width: 50%;
       text-align: center;
       padding: 10px 0;
       border-bottom: 3px solid #f2f2f2;
   }
   
   nav li a
   {
       padding: inherit;
   }
   
   nav li a:hover
   {
       border-top: none;
   }
   
   nav li:hover
   {
       border-bottom-color:#0065FC;
   }

   .navbar-phone 
   {
       top: -30px;
       position: relative;
   }

   /*Barre de recherche mobile*/
   
   .searchbar-phone
   {
       margin: 30px 20px;
   }
   
   .searchtext
   {
       flex: 1;
   }
   
   .buttonsearch
   {
       position: relative;
       width: 50px;
       border-radius: 15px;
       right: 20px;
   }
   
   .buttonsearch span
   {
       display: none;
   }

   .buttonsearch i
   {
       display: inline;
   }

   .searchbar 
   {
       height: 50px;
       width: 94%;
       margin-top: 35px;
       margin-bottom: 20px;
       margin-left: 20px;
   }
   
   .searchtext 
   {
       width: calc(100% - 106px);
   }
   
   /*Filtres mobile*/
   
   .filters
   {
       margin-bottom: 20px;
       
   }

   .filter
   {
       margin-left: 0;
       margin-right: 10px;
       margin-bottom: 10px;
       padding-right: 18px;
   }
   
   .filters
   {
       font-size: 13px;
   }
   
   .filter span 
   {
       padding-left: 5px;
   }

   .title 
   {
       font-size: 20px;
   }


   /*Les plus populaires mobile*/
   
   .popular
   {
       border-radius: 0;
       padding: 40px 20px 30px;
       margin-bottom: 40px;
       flex-direction: column;
       margin-left: 0;
   }
   
   .popular-block
   {
       height: 145px;
       margin-bottom: 10px;
   }
   
   .popular-description p
   {
       font-size: .9rem;
   }
   
   .popular-description
   {
       padding: 15px 10px 10px 20px;
   }
   
   .fa-star
   {
       font-size: .8rem !important;
       letter-spacing: 1px;
   }

   /*Les Hotels*/
   
   .hotel-block
   {
       height: 200px;
   }

   .hotel-name
   {
       font-size: 1rem !important;
   }
   
   .hotels
   {
       padding: 0 20px;
       background-color: initial;
   }
   
   .hotels-structure
   {
       grid-template: repeat(6, 1fr) / 1fr;
       gap: 15px;
   }
   
   .hotel-block img
   {
       height: 116px;
   }
   
   .hotel-description p
   {
       font-size: .9rem;
   }

   .hotel-title
   {
       margin-top: 0;
   }

   .hotels-container
   {
       display: flex;
       flex-direction: column-reverse;
   }

   /* Les activités mobile*/
   
   .activities-section
   {
           display: grid;
           grid-template-columns: 1fr;
           grid-template-rows: repeat(6, 1fr);
           grid-template-areas:
           "activity-1"
           "activity-2"
           "activity-3"
           "activity-4"
           "activity-5"
           "activity-6";
           height: 100px;
           margin-bottom: 10px;
   }
   
   .activities-section
   {
       height: auto;
   }
   
   .activities-section .activities-block
    {
       height: 200px;
    }
   
   .activities-phone
   {
       margin-top: 50px;
   }

   /* Le footer mobile*/

   .footer-blocs
   {
       flex-direction: column;
   }

   /*Ajustements*/
   
   .act-phone-ver
   {
       margin-bottom: 50px;
   }

   .phone-ver
   {
       margin-left: 20px;
       margin-right: 20px;
   }
}

/* Version tablette*/

 @media screen and (min-width: 600px) and (max-width: 1280px) {

    /* Les Hotels tablette*/

     .hotels
     {
        grid-column: 1/4;
        grid-row: 2;
     }

     .hotels-structure
     {
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
     }

     /*Les plus populaires tablette*/

     .popular
     {
        grid-column: 1/4;
        grid-row: 1;
        margin-left: 0;
     }

     /* Les activités tablette*/

     .activities-section
     {
             display: grid;
             grid-template-columns: 1fr;
             grid-template-rows: repeat(6, 1fr);
             grid-template-areas:
             "activity-1"
             "activity-2"
             "activity-3"
             "activity-4"
             "activity-5"
             "activity-6";
             margin-bottom: 10px;
             width: 80%;
             margin: auto;
             height: auto;
     }

     .activities-section .activities-block
     {
        height: 250px;
     }

     /* Le footer tablette*/

     .footer
     {
         margin-top: 20px;
     }

 }











